<%- include('partials/header.ejs') %> <%- include('partials/navbar.ejs') %>
<h1>This is tag <%= data.title %></h1>
<img src="<%= data.img %>" alt="img <%= data.title %>" />
<p>Description: <%= data.description %></p>
<hr />
<article>
  <% for (let post of data.posts) { %>
  <p><%= post.title %> by <%= post.author %></p>
  <% } %>
</article>

<%- include('partials/footer.ejs') %>
