<%- include('partials/header.ejs')%> <%-include('partials/navbar.ejs') %>

<h1>Random Number from index.js: <%= random %></h1>
<% if(random%2 === 0){%>
<h3>Even number</h3>
<% }else{%>
<h3>Odd number</h3>
<% }%>

<h3>This number is <%= random%2===0?'even':'odd' %></h3>

<%- include('partials/footer.ejs') %>
